DATABASE_URL="mysql://root:12345@127.0.0.1:3306/club_registration"
DATABASE_USER="root"
DATABASE_PASSWORD="12345"
DATABASE_NAME="club_registration"
DATABASE_HOST="127.0.0.1"
DATABASE_PORT=3306

MONGODB_URI=mongodb://localhost:27017/clubsystem

JWT_SECRET="your-secret-key-12345"
